<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>dashboard</filter-name>
        <filter-class>filter.DashboardFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>dashboard</filter-name>
        <url-pattern>/dashboard</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>controller.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadData</servlet-name>
        <servlet-class>dal.LoadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDoctor</servlet-name>
        <servlet-class>controller.ManageDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBlog</servlet-name>
        <servlet-class>controller.ManageBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageService</servlet-name>
        <servlet-class>controller.ManageService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMedicine</servlet-name>
        <servlet-class>controller.ManageMedicine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAppointment</servlet-name>
        <servlet-class>controller.ManageAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageExamination</servlet-name>
        <servlet-class>controller.ManageExamination</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePrescription</servlet-name>
        <servlet-class>controller.ManagePrescription</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadData</servlet-name>
        <url-pattern>/loadData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDoctor</servlet-name>
        <url-pattern>/manageDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBlog</servlet-name>
        <url-pattern>/manageBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageService</servlet-name>
        <url-pattern>/manageService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMedicine</servlet-name>
        <url-pattern>/manageMedicine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAppointment</servlet-name>
        <url-pattern>/manageAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageExamination</servlet-name>
        <url-pattern>/manageExamination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePrescription</servlet-name>
        <url-pattern>/managePrescription</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
